---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Typemaster pre-launch landing page">
  <header class="flex justify-between items-center">
    <img src="/public/images/shared/logo.svg" alt="logo" class="" />
    <button type="button" class=""></button>
  </header>
  <main></main>
</Layout>

<style></style>
